* {
    margin: 0 auto;
    border: 0;
    box-sizing: border-box;
}

html {
    background: linear-gradient(117.05deg, #357886 -0.33%, #3499AE 100%);
}

body {
    position: relative;
}

div>* {
    vertical-align: middle;
    overflow: auto;
}

.header {
    display: inline-block;
    width: 99vw;
}

.texto_botao {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    line-height: 0.5vw;
    display: flex;
    align-items: center;
    text-align: center;
}

.botao_laranja {
    cursor: pointer;
    width: max-content;
    height: max-content;
    margin-right: 1vw;
    background: #CA6F00;
    border-radius: 2vh;
    display: inline-block;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    background-color: #CA6F00;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5%;
}

.dropdown-content a {
    color: black;
    padding: 1vh 1vw;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #BECCED
}

.dropdown:hover .dropdown-content {
    display: block;
}

.titulo {
    width: max-content;
    height: max-content;
    float: right;
    font-family: Economica;
    font-style: normal;
    font-weight: lighter;
    font-size: 3vw;
    color: #BECCED;
    margin-top: 5vh;
    margin-right: 3vw;
}

.barra_pesquisa {
    margin-top: 3vh;
    width: max-content;
    margin-left: 32vw;
}

.vertical_laranja {
    background: #CA6F00;
    height: 3vh;
    width: 0.15vw;
    display: inline-block;
}

.pesquisa {
    background: #BECCED;
    border-radius: 25px;
    width: 65vw;
    height: 3vh;
    background-image: url('../img_icone/lupa.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 2vh 2vh;
}

.noticia_principal {
    background-color: #BECCED;
    float: left;
    width: 65vw;
    height: 73vh;
    margin-left: 6.7vw;
    margin-top: 3vh;
    border-radius: 2%;
}

.containers {
    background: #357886;
    border: 2px solid #BECCED;
    border-radius: 2%;
    box-sizing: border-box;
}

.coluna {
    margin-bottom: 2vh;
    margin-left: 3%;
    margin-top: 3%;
    float: left;
    width: 45%;
    height: 73vh;
    padding: 1vh;
    overflow-y: scroll;
}

.fila:after {
    content: "";
    display: table;
    clear: both;
}

.texto {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bolder;
    color: #FFFCFC;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.texto_sombreado {
    background: rgba(2, 86, 104, 0.24);
    border-radius: 25px;
    width: max-content;
    float: left;
}

.texto_inferior {
    margin-top: 4%;
    margin-bottom: 4%;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.texto_mapas {
    margin-top: 3%;
    margin-right: 10%;
    margin-left: 2%;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    width: max-content;
    float: left;
}

.imagem_principal {
    width: 100%;
    height: 90%;
}

.imagens {
    width: 100%;
    height: 93%;
}

.container {
    margin-top: 1%;
    margin-left: 2%;
    position: relative;
    float: left;
    width: 6vh;
    height: 7vh;
}

.container img {
    width: 5vh;
    height: 5vh;
}

.container .btn {
    position: absolute;
    top: 70%;
    left: 55%;
    font-family: Quicksand;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: #BECCED;
    font-size: 1.5vh;
    border: none;
    cursor: pointer;
    border-radius: 5%;
    text-align: center;
    width: max-content;
    height: max-content;
}

.container .btn:hover {
    background-color: white;
}

.column {
    float: left;
    width: max-content;
    height: max-content;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.cont {
    width: max-content;
    height: max-content;
    margin-left: 2vw;
    margin-top: 10vh;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 3vh;
    color: #BECCED;
}