* {
    margin: 0 auto;
    border: 0;
    box-sizing: border-box;
}

html {
    background: linear-gradient(117.05deg, #357886 -0.33%, #3499AE 100%);
}

body {
    position: relative;
}

div>* {
    vertical-align: middle;
    overflow: auto;
}

.header {
    display: inline-block;
    width: 99vw;
}

.container {
    width: max-content;
    height: max-content;
    margin-left: 2vw;
    margin-top: 10vh;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 3vh;
    color: #BECCED;
}

.texto_botao {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    line-height: 0.5vw;
    display: flex;
    align-items: center;
    text-align: center;
}

.botao_laranja {
    cursor: pointer;
    width: max-content;
    height: max-content;
    margin-right: 1vw;
    background: #CA6F00;
    border-radius: 2vh;
    display: inline-block;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    background-color: #CA6F00;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5%;
}

.dropdown-content a {
    color: black;
    padding: 1vh 1vw;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #BECCED
}

.dropdown:hover .dropdown-content {
    display: block;
}

.titulo {
    width: max-content;
    height: max-content;
    float: right;
    font-family: Economica;
    font-style: normal;
    font-weight: lighter;
    font-size: 3vw;
    color: #BECCED;
    margin-top: 5vh;
    margin-right: 3vw;
}

.barra_pesquisa {
    margin-top: 3vh;
    width: max-content;
    margin-left: 32vw;
}

.vertical_laranja {
    background: #CA6F00;
    height: 3vh;
    width: 0.15vw;
    display: inline-block;
}

.pesquisa {
    background: #BECCED;
    border-radius: 25px;
    width: 65vw;
    height: 3vh;
    background-image: url('../img_icone/lupa.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 2vh 2vh;
}

.noticia_principal {
    background-color: #BECCED;
    float: left;
    width: 65vw;
    height: 73vh;
    margin-left: 6.7vw;
    margin-top: 3vh;
    border-radius: 2%;
}

.containers {
    background-color: #BECCED;
    height: 20vh;
    margin-left: 3vw;
    border-radius: 2%;
    margin-bottom: 2vh;
}

.coluna {
    float: left;
    margin-top: 3vh;
    width: 25vw;
    height: 73vh;
    overflow-y: scroll;
}

.fila:after {
    content: "";
    display: table;
    clear: both;
}

.texto {
    text-align: center;
    font-family: Economica;
}

.imagem_principal {
    width: 100%;
    height: 90%;
}

.imagens {
    width: 100%;
    height: 75%;
}