* {
    font-size: 100%;
    text-align: center
}

h1 {
    position: fixed;
    width: 60vh;
    height: 15vh;
    left: 35vw;
    top: 47vh;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 10vh;
    line-height: 1vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: #BECCED;
}

body {
    position: relative;
    background: linear-gradient(117.05deg, #357886 -0.33%, #3499AE 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#quadrado {
    position: fixed;
    width: 63vh;
    height: 2vh;
    left: 35vw;
    top: 64vh;
    background: rgba(190, 204, 237, 0.2);
    border-radius: 45px;
}

#linha {
    position: fixed;
    width: 62vh;
    height: 0px;
    left: 35vw;
    top: 64.5vh;
    border: 3px solid #BECCED;
}

.botao {
    position: fixed;
    width: 10vh;
    height: 10vh;
    left: 50vw;
    bottom: -9px;
    border: none;
    background-color: rgba(52, 153, 174, 0.001);
    border-radius: 20px;
    box-shadow: 0 0 40px 40px rgba(20.8, 47.1, 52.5, 0.001) inset, 0 0 0 0 rgba(52, 153, 174, 0.001);
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.botao:hover {
    box-shadow: 0 0 10px 0 #86b7d8 inset, 0 0 10px 4px #86b7d8;
}

#linhaVertical1 {
    position: fixed;
    width: 3vh;
    height: 0px;
    left: 50%;
    margin-left: 2.5vh;
    bottom: 10px;
    border: 2px solid rgba(190, 204, 237, 0.5);
    transform: rotate(45deg);
}

#linhaVertical2 {
    position: fixed;
    width: 3vh;
    height: 0px;
    left: 50%;
    margin-left: 4.5vh;
    bottom: 10px;
    border: 2px solid rgba(190, 204, 237, 0.5);
    transform: rotate(-45deg);
}

#linhaVertical3 {
    position: fixed;
    width: 3vh;
    height: 0px;
    left: 50%;
    margin-left: 2.5vh;
    bottom: 20px;
    border: 2px solid rgba(190, 204, 237, 0.5);
    transform: rotate(45deg);
}

#linhaVertical4 {
    position: fixed;
    width: 3vh;
    height: 0px;
    left: 50%;
    margin-left: 4.5vh;
    bottom: 20px;
    border: 2px solid rgba(190, 204, 237, 0.5);
    transform: rotate(-45deg);
}