* {
    margin: 0 auto;
    border: 0;
}

html {
    background: linear-gradient(117.05deg, #357886 -0.33%, #3499AE 100%);
}

body {
    position: relative;
}

div>* {
    vertical-align: middle;
    overflow: auto;
}

.container_titulo {
    position: absolute;
    width: max-content;
    height: max-content;
    left: 78vh;
    top: 50vh;
    display: flex;
}

.titulo {
    width: max-content;
    height: max-content;
    font-family: Economica;
    font-style: normal;
    font-weight: normal;
    font-size: 3vw;
    color: #BECCED;
}

.container_titulo_cidade {
    position: absolute;
    width: max-content;
    top: 50vh;
    height: auto;
    left: 85vh;
    display: flex;
}

.titulo_cidade {
    width: max-content;
    height: max-content;
    font-family: Economica;
    font-style: normal;
    font-weight: normal;
    font-size: 3vw;
    color: #BECCED;
}

.imagem_municipio {
    position: fixed;
    top: -4vh;
    width: 95vh;
    height: 125vh;
    left: 55vw;
}

.imagem_cidade {
    position: fixed;
    top: -15vh;
    width: 120vh;
    height: 135vh;
}

.botao_laranja {
    cursor: pointer;
    width: 12vh;
    height: 12vh;
    margin-left: 1vh;
    background: #CA6F00;
    border-radius: 2vh;
    display: inline-block;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.botao_laranja:hover {
    box-shadow: 0 0 20px 0 #CA6F00 inset, 0 0 20px 8px #CA6F00;
}

.texto {
    cursor: pointer;
    margin-left: 2vh;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5vh;
    line-height: 2.5vh;
    display: inline-block;
    color: black;
    background: rgba(20.8, 47.1, 52.5, 0.001);
}

.texto:hover {
    background-color: #CA6F00;
    transition: border-radius 400ms, color 1s, background-color 0.4s;
    box-shadow: 5px 5px;
    border-radius: 2vh;
}

.icone {
    left: 1vh;
    top: 1vh;
    width: 10vh;
    height: 10vh;
}

.primeiro_container {
    margin-top: 2vh;
}

.containers {
    padding: 2vh;
    margin-left: 2vh;
}

.seta {
    left: 0px;
    top: 0vh;
    width: 0;
    height: 0;
    border-top: 2vw solid transparent;
    border-bottom: 2vw solid transparent;
    border-left: 2vw solid #BECCED;
    margin-left: 35%;
}

.botao {
    position: absolute;
    height: 10vh;
    width: 10vh;
    left: 94vw;
    top: 45vh;
    border: none;
    background-color: rgba(52, 153, 174, 0.001);
    border-radius: 20px;
    box-shadow: 0 0 40px 40px rgba(20.8, 47.1, 52.5, 0.001) inset, 0 0 0 0 rgba(52, 153, 174, 0.001);
    -webkit-transition: all 150ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.botao:hover {
    box-shadow: 0 0 10px 0 #86b7d8 inset, 0 0 10px 4px #86b7d8;
}